*{
  margin: 0;
  padding: 0;
  scrollbar-width: 0px;
  box-sizing: border-box;

}

html,
body {
height: 100%;
font-family: Cairo;
-webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
margin: 0;
color: #111111;
font-weight: 400;
font-family: "Cairo", sans-serif;
line-height:1.2;
}

h1 {
font-size: 70px;
}

h2 {
font-size: 36px;
}

h3 {
font-size: 30px;
}

h4 {
font-size: 24px;
}

h5 {
font-size: 18px;
}

h6 {
font-size: 16px;
}

p {
font-size: 15px;
font-family: "Cairo", sans-serif;
color: #707070;
font-weight: 400;
line-height: 25px;
margin: 0 0 15px 0;
}

img {
max-width: 100%;
}

input:focus,
select:focus,
button:focus,
textarea:focus {
outline: none;
}
a{
  text-decoration:none;
}
a:hover,
a:focus {
text-decoration: none;
outline: none;
  color: #ffffff;
 
}

ul,
ol
li{
padding: 0;
  margin: 0;
  list-style:none;
}
.title h2, section.title h2{
  font-size: 40px;
  font-weight: bold;
  margin-bottom:1px;
  padding:0px;
  text-align:left;
}
.content{
    min-height:100vh;
     margin-left:250px;
    padding:50px 20px;

}
table{
  border-collapse: collapse;
  width: 100%;
}
th, td {
  border-bottom: 1px solid #ddd;
}
td,th {
  border-bottom: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}